---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h3>Welcome to my personal website</h3>
	<p>
		This is a place where I share my projects, thoughts, and experiences. Whether you're here to learn more about me, explore my work, or just say hi, I'm glad you're here.
	</p>
	<p>
		Feel free to browse around and check out what I've been up to!
	</p>
</Layout>
